.about {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1500px;
  height: 885px;
  margin: 0 auto;
}
.about .about__container {
  width: 1280px;
  height: 724.359px;
}
.about .about__container .about__container-1 {
  display: flex;
}
.about .about__container .about__container-1 .about__container-1-text {
  margin-top: 100px;
  width: 704px;
  height: 454px;
}
.about .about__container .about__container-1 .about__container-1-text .about__container-1-text-1 {
  display: flex;
  width: 300px;
  height: 50px;
}
.about .about__container .about__container-1 .about__container-1-text .about__container-1-text-1-line {
  margin-top: 10px;
  width: 72px;
  height: 1.5px;
  background: black;
}
.about .about__container .about__container-1 .about__container-1-text .about__container-1-text-span {
  padding-left: 10px;
  color: var(--primary-text, #1D2130);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about .about__container .about__container-1 .about__container-1-text .about__container-1-text-h2 {
  padding-left: 80px;
  color: var(--primary-text, #1D2130);
  font-family: "Roboto";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
.about .about__container .about__container-1 .about__container-1-text .about__container-1-text-p {
  padding-top: 30px;
  padding-left: 80px;
  color: var(--secondary-text, #525560);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.about .about__container .about__container-1 .about__container-1-text .about__container-1-text-button {
  margin-left: 80px;
  margin-top: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 146px;
  height: 51px;
  border-radius: 4px;
  background: var(--green-primary, #70C174);
  border: 1px solid #70C174;
  color: #FFF;
  text-align: right;
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.about .about__container .about__container-1 .about__container-1-text .about__container-1-text-button:hover {
  background: #2b6c2f;
  color: #1D2130;
}
.about .about__container .about__container-1 .about__container-1-img-1 {
  margin-left: 96px;
  display: flex;
  width: 480px;
  height: 578px;
}
.about .about__container .about__container-2 {
  margin-top: 64px;
  width: 1280px;
  height: 82.018px;
  flex-shrink: 0;
}
.about .about__container .about__container-2 .about__container-2-line {
  display: flex;
  width: 1280px;
  height: 19px;
}
.about .about__container .about__container-2 .about__container-2-line .about__container-2-line-p1 {
  color: var(--primary-text, #1D2130);
  font-family: "Roboto";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.about .about__container .about__container-2 .about__container-2-line .about__container-2-line-p {
  margin-top: 10px;
  margin-left: 24px;
  width: 1080px;
  height: 1px;
  background: rgb(102, 102, 102);
}
.about .about__container .about__container-2 .about__container-2-logo {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  width: 1280px;
  height: 31.017px;
}

/*# sourceMappingURL=about-section.css.map */
